/* .signin-content {
  display: flex;
  display: -webkit-flex;
}
input {
  outline: 0;
  appearance: unset !important;
  -moz-appearance: unset !important;
  -webkit-appearance: unset !important;
  -o-appearance: unset !important;
  -ms-appearance: unset !important;
}
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  appearance: none !important;
  -moz-appearance: none !important;
  -webkit-appearance: none !important;
  -o-appearance: none !important;
  -ms-appearance: none !important;
  margin: 0;
}
input:focus {
  outline: 0;
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -o-box-shadow: none !important;
  -ms-box-shadow: none !important;
}
input[type="checkbox"] {
  appearance: checkbox !important;
  -moz-appearance: checkbox !important;
  -webkit-appearance: checkbox !important;
  -o-appearance: checkbox !important;
  -ms-appearance: checkbox !important;
}
input[type="radio"] {
  appearance: radio !important;
  -moz-appearance: radio !important;
  -webkit-appearance: radio !important;
  -o-appearance: radio !important;
  -ms-appearance: radio !important;
}
.login-image {
  max-width: 100%;
  height: auto;
}
figure {
  margin: 0;
}
h2 {
  line-height: 1.66;
  margin: 0;
  padding: 0;
  font-weight: 700;
  color: #222;
  font-family: Poppins;
  font-size: 36px;
}
body {
  font-size: 13px;
  line-height: 1.8;
  color: #222;
  background: #f8f8f8;
  font-weight: 400;
  font-family: Poppins;
}
.container {
  width: 900px;
  background: #fff;
  margin: 0 auto;
  box-shadow: 0 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  -o-box-shadow: 0 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  -ms-box-shadow: 0 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -o-border-radius: 20px;
  -ms-border-radius: 20px;
}
.signin-form,
.signin-image {
  width: 50%;
  overflow: hidden;
}
.form-title {
  margin-bottom: 33px;
}
figure {
  margin-bottom: 50px;
  text-align: center;
}
.form-submit {
  display: inline-block;
  background: #6dabe4;
  color: #fff;
  border-bottom: none;
  width: auto;
  padding: 15px 39px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  margin-top: 25px;
  cursor: pointer;
}
.form-submit:hover {
  background: #4292dc;
}
#signin {
  margin-top: 16px;
}
.register-form {
  width: 100%;
}
.form-group {
  position: relative;
  margin-bottom: 25px;
  overflow: hidden;
}
.form-group:last-child {
  margin-bottom: 0;
}
input {
  width: 100%;
  display: block;
  border: none;
  border-bottom: 1px solid #999;
  padding: 6px 30px;
  font-family: Poppins;
  box-sizing: border-box;
}
input::-webkit-input-placeholder {
  color: #999;
}
input::-moz-placeholder {
  color: #999;
}
input:-ms-input-placeholder {
  color: #999;
}
input:-moz-placeholder {
  color: #999;
}
input:focus {
  border-bottom: 1px solid #222;
}
input:focus::-webkit-input-placeholder {
  color: #222;
}
input:focus::-moz-placeholder {
  color: #222;
}
input:focus:-ms-input-placeholder {
  color: #222;
}
input:focus:-moz-placeholder {
  color: #222;
}
input[type="checkbox"]:not(old) {
  width: 2em;
  margin: 0;
  padding: 0;
  font-size: 1em;
  display: none;
}
input[type="checkbox"]:not(old) + .login-label {
  display: inline-block;
  line-height: 1.5em;
  margin-top: 6px;
}
.login-label {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  color: #222;
}
.material-icons-name {
  font-size: 18px;
}
.signin-content {
  padding-top: 67px;
  padding-bottom: 87px;
}
.signin-form {
  margin-right: 90px;
  margin-left: 80px;
}
.signin-image {
  margin-left: 110px;
  margin-right: 20px;
  margin-top: 10px;
}
@media screen and (max-width: 1200px) {
  .container {
    width: calc(100% - 30px);
    max-width: 100%;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    max-width: 1200px;
  }
}
@media screen and (max-width: 768px) {
  .signin-content {
    flex-direction: column;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -o-flex-direction: column;
    -ms-flex-direction: column;
    justify-content: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -o-justify-content: center;
    -ms-justify-content: center;
  }
  .signin-image {
    margin-left: 0;
    margin-right: 0;
    margin-top: 50px;
    order: 2;
    -moz-order: 2;
    -webkit-order: 2;
    -o-order: 2;
    -ms-order: 2;
  }
  .signin-form,
  .signin-image {
    width: auto;
  }
  .form-button {
    text-align: center;
  }
  .signin-form {
    order: 1;
    -moz-order: 1;
    -webkit-order: 1;
    -o-order: 1;
    -ms-order: 1;
    margin-right: 0;
    margin-left: 0;
    padding: 0 30px;
  }
  .form-title {
    text-align: center;
  }
  .signin-content {
    padding-top: 179px;
    padding-bottom: 87px;
  }
}
.sign-in {
  height: 100vh;
  display: flex;
  align-items: center;
} */

.login-signin-content {
  display: flex;
  display: -webkit-flex;
}
.login-input {
  outline: 0;
  appearance: unset !important;
  -moz-appearance: unset !important;
  -webkit-appearance: unset !important;
  -o-appearance: unset !important;
  -ms-appearance: unset !important;
}
.login-input::-webkit-inner-spin-button,
.login-input::-webkit-outer-spin-button {
  appearance: none !important;
  -moz-appearance: none !important;
  -webkit-appearance: none !important;
  -o-appearance: none !important;
  -ms-appearance: none !important;
  margin: 0;
}
.login-input:focus {
  outline: 0;
  box-shadow: none !important;
}
.login-checkbox {
  appearance: checkbox !important;
}
.login-radio {
  appearance: radio !important;
}
.login-image {
  max-width: 100%;
  height: auto;
}
.login-figure {
  margin: 0;
}
.login-h2 {
  line-height: 1.66;
  margin: 0;
  padding: 0;
  font-weight: 700;
  color: #222;
  font-family: Poppins;
  font-size: 36px;
}
.login-body {
  font-size: 13px;
  line-height: 1.8;
  color: #222;
  background: #f8f8f8;
  font-weight: 400;
  font-family: Poppins;
}
.login-container {
  width: 100%;
  background: #fff;
  margin: 0 auto;
  box-shadow: 0 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
}
.login-signin-form,
.login-signin-image {
  width: 50%;
  overflow: hidden;
}
.login-form-title {
  margin-bottom: 33px;
}
.login-figure {
  margin-bottom: 50px;
  text-align: center;
}
.login-form-submit {
  display: inline-block;
  background: #6dabe4;
  color: #fff;
  border-bottom: none;
  width: auto;
  padding: 15px 39px;
  border-radius: 5px;
  margin-top: 25px;
  cursor: pointer;
}
.login-form-submit:hover {
  background: #4292dc;
}
.login-register-form {
  width: 100%;
}
.login-form-group {
  position: relative;
  margin-bottom: 25px;
  overflow: hidden;
}
.login-form-group:last-child {
  margin-bottom: 0;
}
.login-input {
  width: 100%;
  display: block;
  border: none;
  border-bottom: 1px solid #999;
  padding: 6px 30px;
  font-family: Poppins;
  box-sizing: border-box;
}
.login-input::-webkit-input-placeholder {
  color: #999;
}
.login-input:focus {
  border-bottom: 1px solid #222;
}
.login-input:focus::-webkit-input-placeholder {
  color: #222;
}
.login-signin-content {
  padding-top: 67px;
  padding-bottom: 87px;
}
.login-signin-form {
  margin-right: 90px;
  margin-left: 80px;
}
.login-signin-image {
  margin-left: 110px;
  margin-right: 20px;
  margin-top: 10px;
}
@media screen and (max-width: 1200px) {
  .login-container {
    width: calc(100% - 30px);
  }
}
@media screen and (min-width: 1024px) {
  .login-container {
    max-width: 1200px;
  }
}
@media screen and (max-width: 768px) {
  .login-signin-content {
    flex-direction: column;
    justify-content: center;
  }
  .login-signin-image {
    margin-left: 0;
    margin-right: 0;
    margin-top: 50px;
    order: 2;
  }
  .login-signin-form,
  .login-signin-image {
    width: auto;
  }
  .login-form-button {
    text-align: center;
  }
  .login-signin-form {
    order: 1;
    margin-right: 0;
    margin-left: 0;
    padding: 0 30px;
  }
  .login-form-title {
    text-align: center;
  }
  .login-signin-content {
    padding-top: 179px;
  }
}
.login-sign-in {
  height: 100vh;
  display: flex;
  align-items: center;
}
