.prd-card{
    width: 24rem;
}
.modal-dialog,.modal-size{
    max-width: 90% !important;
}
.blog-card img{
    height: 13rem;
}
.transaction{
    overflow: auto !important;
} 

.bg-smoke{
    background-color: whitesmoke !important;
}
.modal-img{
    width: 5rem;
    height: 5rem;
    object-fit: contain;
    border: 1px solid darkgray;
}
.modal-main-img{
    width: 10rem;
    height: 10rem;
    object-fit: fill;
}
.prd-img{
    width: 100%;
    height: 225px;
    object-fit: fill;
}