.prd-card{
    width: 24rem;
}
.modal-dialog,.modal-size{
    max-width: 90% !important;
}
.blog-card{
    height: 29rem;
}
.transaction{
    overflow: auto !important;
} 

.bg-smoke{
    background-color: whitesmoke !important;
}